
<h4 class="header" style="margin-top: 20px">• SOFTWARE •</h4>   
<div class="thumb-container">
    <div class="flex-container">
      {% for project in site.data.settings.cs-projects %}
      <div class="{{ project.id }}">
        <a href="{{ site.github.url }}/{{ project.file }}">
          <div class="thumb-unit" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/projects/{{ project.folder }}/thumb.png)">
            <div class="thumb-overlay">
              <strong>{{ project.name }}<i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <h4 class="header">• DESIGN •</h4> 
  <div class="thumb-container">
    <div class="flex-container">
      {% for project in site.data.settings.design %}
      <div class="{{ project.id }}">
        <a href="{{ site.github.url }}/{{ project.file }}">
          <div class="thumb-unit" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/projects/{{ project.folder }}/thumb.png)">
            <div class="thumb-overlay">
              <strong>{{ project.name }}<i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
<h4 class="header">• RESEARCH •</h4>  
<div class="thumb-container-wide">
      {% for project in site.data.settings.research %}
      <div class="{{ project.id }}">
        <a href="{{ site.github.url }}/{{ project.file }}">
          <div class="thumb-unit" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/projects/{{ project.folder }}/thumb.png)">
            <div class="thumb-overlay">
              <strong>{{ project.name }}<i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
  </div>
<h4 class="header">• WRITING •</h4>
  <div class="thumb-container-writing">
      {% for project in site.data.settings.writing %}
      <div class="{{ project.id }}">
        <a href="{{ site.github.url }}/{{ project.file }}">
          <div class="thumb-unit" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/projects/{{ project.folder }}/thumb.png)">
            <div class="thumb-overlay">
              <strong>{{ project.name }}<i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
  </div>